<html xmlns:th="http://www.thymeleaf.org"> <!-- timeleaf사용 -->

<!--  list 화면 만들기    --> 
	<head>
	</head>
	<body>
		<table border=1>
			<tr>
				<td>sampleId</td>
				<td>sampleName</td>
			</tr>
			<tr th:each="s : ${list}">
				<td th:text= "${s.sampleId}"></td>
				<td th:text= "${s.sampleName}"></td>
				<td><a th:href="@{/updateSample(sampleId=${s.sampleId})}" th:text="수정"></a></td>
				<td><a th:href="@{/removeSample(sampleId=${s.sampleId})}" th:text="삭제"></a></td>
				<!-- <td><a th:href="@{'/removeSample' + '?sampleId=' + ${s.sampleId}}" >삭제</a></td> -->
			</tr>
		</table>
	</body>
</html>
