<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bonobono.web03.mapper.SampleMapper">

	<select id="selectsampleList"
			resultType="com.bonobono.web03.vo.Sample">
			SELECT
 				sample_id as sampleId,
 				sample_name as sampleName
 			FROM sample
	</select>
	
	<select id="selectSampleOne"
			resultType="com.bonobono.web03.vo.Sample">
	</select>
	
	<insert id="insertSample"
			parameterType="com.bonobono.web03.vo.Sample">
			INSERT INTO sample(
				sample_name
			)VALUES (
				#{sampleName}
			)	
	</insert>
	
	<delete id="deleteSample"
			parameterType="com.bonobono.web03.vo.Sample">
			DELETE FROM sample WHERE sample_id=#{sampleId}
	</delete>
	
	<update id="updateSample"
			parameterType="com.bonobono.web03.vo.Sample">
	</update>		
				
</mapper>